<h1>Main page</h1>


<form action= "/hands" class="new_hand" id="new_hand">
  <%= token_tag %>
  <input type="text" name="hand[title]" placeholder="Headline....">
  <input type="text" name="hand[message]" placeholder="Act of Kindness....">
  <input type="submit" value="Search">
</form>

<ul>
<% @hands.each do |hand| %>

  <li>
    <%= hand.title %> : <%= hand.message%>
  </li>

<% end %>
</ul>
