  <div id="header">
    <div class="one-third column"> <h5> Small acts have big impacts</h5> </div>
    <div class="one-third column">
      <h5 id="greetings"> <%= @user.username %> </h5>
  </div>

  <div class="one-third column">
    <%= form_tag('/session_log_out', method: :delete) do %>
      <%= submit_tag "Log-Out" %>
    <% end %>
  </div>
  </div>

<div class="container">
    <div id="view-tabs" >
      <div class="two columns" id="hot-tab"> Hot </div>
      <div class="two columns" id="new-tab"> New </div>
      <HR>
    </div>

    <div class="eight columns" id="hand-stage"></div>
    <div class="four columns" id="sidebar">
      <div class="submit-form">
        <label id="share-something-form-toggle" for="new-act-form">Share something kind</label>
          <form action= "/hands" enctype="multipart/form-data" class="new_hand" id="new_hand">
            <%= token_tag %>
            <div class="u-full-width">
              <input type="file" name="hand[image]" id="file">
              <label for="headline">Headline</label>
              <input id="headline" type="text" name="hand[title]" placeholder="Headline....">
            </div>
            <div class="u-full-width">
              <label for="actOfKindness">Describe the kind act</label>
              <input id="actOfKindness" type="text" name="hand[message]" placeholder="Act of Kindness....">
            </div>
            <input id="submit-hand" class="button-primary" type="submit" value="Share the Love!">
          </form>
          <nav>

          </nav>
      </div>
      <div class= "map" id="smallMap"></div>
    </div>
</div>

<script>
//DECLARES TIME/DATE VARS
var today = new Date();
var hourNow = today.getHours();
var greeting;
var display = $('#greetings')

//DISPLAYS TIME-BASED GREETING TO CURRENT_USER
function heyYall(){
  if (hourNow > 18){
    greeting = 'Good Evening, ';
  } else if (hourNow > 12){
    greeting = 'Good Afternoon, ';
  } else if (hourNow > 0){
    greeting = 'Good Morning, ';
  } else {
    greeting = 'Welcome, ';
  }
  display.prepend(greeting);
}

heyYall()
</script>
