<!DOCTYPE html>
<html>
<head>
  <title>Kindlies</title>

  <script type='text/template' id='hand-item'>
    <%%= title %>: <%%= message %>
  </script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>


<%= yield %>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</body>
</html>
