#sign-inpage {
  background-image: url('logInPic.jpg');
  background-size: cover;
  height: 702px;

.content{
  background-color: white;
  height: 320px;
  width:  370px;
  margin: 0px auto;
  padding: 30px;
  border-radius: 6px;
  position: relative;
  top: 180px;
  box-shadow: 0px 0px 8px 2px rgb(81, 77, 77);
}

}//body end tag
