// // Place all the styles related to the hands controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
//
.dev{
  // background-color:lightblue;
  border: 1px solid red;
}

$headerheight: 150px;
$maincolor: tomato;
$secondcolor: #33C3F0;
//
.submit-form{
  z-index: 3;
  position: fixed;
}
.not-move{
  top: 0;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  height: auto;
  z-index: 3;
  overflow: visible;
  background-color: $maincolor;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  color: white;
    -webkit-box-shadow: 0px 6px 8px 0px rgba(216,216,216,1);
    -moz-box-shadow: 0px 6px 8px 0px rgba(216,216,216,1);
    box-shadow: 0px 6px 8px 0px rgba(216,216,216,1);
}
#site-tagline{
  font-family: 'Lobster', cursive;
  font-size: 3em;
  color: white;
  // text-shadow: 2px 2px 0px white;
  margin: 0px auto;
}

#content{
  margin-top: $headerheight;
}
.sidebar{
  height: auto;
  position: fixed;
  background-color: white;

  -webkit-box-shadow: 0px 6px 8px 0px rgba(216,216,216,1);
  -moz-box-shadow: 0px 6px 8px 0px rgba(216,216,216,1);
  box-shadow: 0px 6px 8px 0px rgba(216,216,216,1);
    form{
      margin: 0 auto;
    }
  }
//
// //
// // #view-tabs{
// //   margin-top: 150px;
// //   h4{
// //     margin: 0px auto;
// //   }
// //   // HR{
// //   //   clear: both;
// //   // }
// // }
// //
// // #display-new{
// //   border-left: 1px solid white;
// //   padding-left: 1em;
// //   margin-left: 1em;
// // }
// // #display-hot{
// //   padding-left: 2em;
// // }
// // #content-wrapper{
// //   margin-top: $headerheight;
// // }

#new_hand{
  width: 100%;
  padding: 6%;
  background-color: whitesmoke;
  z-index: 2;
}
// //
// //
#hand-card{
  background-color: white;
  color: black;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 6px 8px 0px rgba(216,216,216,1);
  -moz-box-shadow: 0px 6px 8px 0px rgba(216,216,216,1);
  box-shadow: 0px 6px 8px 0px rgba(216,216,216,1);
  .img-wrapper{
    width: 100%;
    margin: 0px auto;
  }
  img{
    width: 100%;
  }
  hand-title{
    margin: 0px auto;
    width: 100%;
  }
  button{
    float: right;
  }
  .card-top{
    background-color: $secondcolor;
  }
  .card-top, .card-body{
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 6%;
  padding-right: 6%;
  }
}
